<!DOCTYPE html>

<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{htmlWebpackPlugin.options.meta.description}}">
</head>
<body>
 <div class="alert  alert-primary">This is the primary alert!</div>
</body>
</html>
