@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url("./media/fonts/OpenSans-Regular.ttf") format('ttf')
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url("./media/fonts/OpenSans-Regular.ttf") format('ttf')
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url("./media/fonts/OpenSans-BoldItalic.ttf") format('ttf')
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url("./media/fonts/OpenSans-Regular.ttf") format('ttf')
}


html {
  body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
  }
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url("./media/preloader.gif");
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
